{% for highlight in site.highlights %}
<div class="highlight_info">
<div class="row">
    <div class="col-sm-4">
        <!-- image -->
      {% if highlight.image %}
      <span>
        <img class="image-highlight" src={{site.url}}{{site.baseurl}}{{highlight.image}}/>
      </span>
      {% endif %}
    </div>
    <div class="col-sm-8">
    <!-- title -->
    {% if highlight.title %}
    <div>
      <p class="title-highlight" >{{ highlight.title }}.{% if highlight.date %}

         {{ highlight.date | date: "%b %d, %Y" }}
  
  {% endif %}</p> 
      
    </div>
    {% endif %}
    
    <!-- authors -->
    {% if highlight.authors %}
    <div >
      <p class="authors-highlight">{{ highlight.authors }}</p>
    </div>
    {% endif %}
    <!-- conference -->
    {% if highlight.conference %}
    <div >
      <p class="conference-highlight" >{{ highlight.conference }}</p>
    </div>
    {% endif %}
    <!-- short_desc -->
    {% if highlight.short_desc %}
    <div >
      <p class="short-desc-highlight" >{{ highlight.short_desc }}</p>
    </div>
    {% endif %}
    </div>
</div>
</div>
<div class="separator-zone-1 anythingelse"></div>
{% endfor %}

